
.contact-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.contact-li-icon{

height: 150px;

}
.contact-github-icon{
 
  height: 200px;
}


.contact-icon-container{
display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;
flex: 1 0 auto;
}
