@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

.home{
  display: flex;
  flex-direction: column;
  background: #F55D50;
  height: 100vh;
 
}

.ellipse {
  position: absolute;
  left: 176px;
  top: -57px;
  z-index: 4;
}

.name-header{
  position: relative;
  text-align: left;
  color: #FBFFFB;
  font-size: 75px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 50px;
  padding-left: 10px;
  z-index: 6;
}

.tagline{
  position: relative;
  color: #FBFFFB;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: lowercase;
  text-align: left;
  padding-left: 10px;
  z-index: 6;
  
  
}

.nav-links{
  display: flex;
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  color:#5AC6D6;
  font-weight: 600;
  margin-top:10px;
  position: relative;
  z-index: 6;
}

.portfolio-link,
.contact-link{
margin-left: 10px;
}

.carousel-title{
  color: #FCCD3C;
  font-size:20px;
  text-transform: uppercase;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  z-index: 6;

}
.home-carousel{
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 325px;
  z-index:6;
}

.copyright{
 
  background: #F55D50;
  text-transform: uppercase;
  color: #c4c4c4;
  position: fixed;
  bottom: 0;
  padding: 25px;
}
