@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

.home{
  display: flex;
  flex-direction: column;
  background: #F55D50;
 
  flex: 1 0 auto;
 
}

.ellipseOne {
  position: absolute ;
  left: 176px;
  top: -57px;
  z-index: 4;
}

.ellipseTwo {
  position: absolute;
  left: -45px;
  top: -75px;
  z-index: 4;
}


.carousel-container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5%;
  z-index: 6;
  
  align-items: center;
  padding: 10px;
  padding-bottom: 10%;
  width: 75%;
  
}

.carousel-title{
  color: #FCCD3C;
  font-size:20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
  z-index: 6;

}
.home-carousel{
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  z-index:6;
}



.copyright{
  margin: auto;
  background: #F55D50;
  text-transform: uppercase;
  color: #c4c4c4;
  flex-shrink: 0;
  padding: 25px;
  z-index: 4;
}
