@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

.home{
  display: flex;
  flex-direction: column;
  background: #FBDDAF;
  flex: 1 0 auto;
  
}


.carousel-container{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 5%;
  z-index: 6;
  
  align-items: center;
  padding: 10px;
  padding-bottom: 10%;
  width: 75%;
  
}

.carousel-title{
  color: white;
  font-size:20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
  z-index: 6;

}
.home-carousel{
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  z-index:6;
}

.copyright{
  display: flex;
  margin: auto;
  background: #FBDDAF;
  text-transform: uppercase;
  color: #c4c4c4;
  text-align: center;
  padding: 25px;
  z-index: 4;
  margin-bottom: auto;
  width: 100%;
}

.wrapper{
  flex: 1 0 auto;
}


