@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Lato:ital@1&family=Poppins:wght@300&family=Raleway&family=Roboto&display=swap');




/* Portfolio Item */

.icons-container-container{
  display: flex;
  justify-content: center;
  height: 500px;
  
}

.icons-container{
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  align-items: left;
  justify-content: center;
  padding: 5px;
  
}

.icon-card{
  display: flex;
  align-items: center;
  margin: 10px;
  width: 325px;
  padding: 5px;
  
}

.icon-details{
  padding-left: 10px;
  width: 100%;
  
}

.icon-img{
  border-radius: 10px;
}

.subbusters-tagline{
  font-size: 12px;
}

.origio-title,.danceparty-title,.flora-title,.subbusters-title {
  font-size: 25px;
}

.origio-title{
  font-family: 'Roboto', sans-serif;
}

.danceparty-title{
  font-family: 'Francois One', sans-serif;
}

.flora-title{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;
}

.subbusters-title{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

.app-tagline{
  width: 250px;
}