
.about-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 425px;
}

.about-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  color: #293C43;
  font-weight: 500;
  width: 325px;
  text-align: justify;
  height: 400px;
 

}

.about-greeting{
  font-size:25px;
}

.resume-link, 
.resume-link:link,
.resume-link:visited {
  color: #293C43;
  font-weight: 900;
  text-decoration: none;
  margin-bottom: auto;
}

.resume-link:hover{
  color: #fd3617;
  transform: scale(1.5);

}

