
.about-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.about-container{
  margin: 0 auto;
  margin-top: 45px ;
  color: white;
  font-weight: 500;
  width: 325px;
  text-align: justify;
}

.resume-link, 
.resume-link:link,
.resume-link:visited {
  margin-top: 25px;
  color: white;
  font-weight: 900;
  text-decoration: none;
}

.resume-link:hover{
  color: white;
  transform: scale(1.5);

}

