input, textarea{
  background:white;
  width: 250px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  
}


.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.submit-button{
  border: none;
  border-radius: 5px;
  background: white ;
  padding: 5px;
  width: 100px;

}