@import url('https://fonts.googleapis.com/css2?family=Contrail+One&family=Playfair+Display:ital@0;1&display=swap');



.header-block-one,
.header-block-two,
.header-block-three,
.header-block-four {

  width: 100%;
  height: 35px;
}

.header-block-one {
  background: #fd3617;
}
.header-block-two{
  background: #ff6c2e;

}
.header-block-three{
  background: #faa967;
}





.name-position-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.name-header{
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  color: #293C43;
  font-size: 90px;
  font-family: 'Contrail One', cursive;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 50px;

  z-index: 6;
  font-weight: 900;
  font-style: italic;
  
}

.first-name-header{
  padding-right: 15px;
}

.tagline{
  position: relative;
  color: #293C43;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: lowercase;
  z-index: 6;
}


@media only screen and (max-width: 600px){

.name-header{
align-items: center;
flex-direction: column;
justify-content: space-evenly;
}
.tagline{
  font-size: 25px;
}

.nav-links{
  font-size: 20px;
}
}

@media only screen and (max-width: 450px){

  .tagline{
    font-size: 15px ;
  }
  .nav-links{
  
    font-size: 15px;
  }

}