.footer{
 display: flex;
 flex-direction: column;
 margin-top: 25px;
}



.footer-block-one,
.footer-block-two,
.footer-block-three,
.footer-block-four {
  width: 100%;
  height: 35px;
}

.footer-block-one{
  background:#6FAEA3;
}

.footer-block-two{
background: #038D9D;
}

.footer-block-three{
  background: #026F94 ;
}

.footer-block-four{
  background:#002053 ;
}